<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>searchlist</title>
  <style>
    td, th{
      padding-left: 30px;
      padding-right: 30px;
    }
  </style>
</head>

<body>A
<div>
  <table>
    <thead>
    <tr>
      <th>노래제목</th>
      <th>가수이름</th>
      <th>url</th>
      <th>추가버튼</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="music : ${musics}">
      <td th:text="${music.name}"></td>
      <td th:text="${music.artist}"></td>
      <td><a th:href="${music.url}" th:text="${music.url}"></a></td>
      <td>
        <form th:action="@{/user-music}" method="post">
          <button type="submit" th:value="${music}">노래추가</button>
        </form>

      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>